<footer>
    <div id="footer" class="footer-container container">
        <div class="content_1">
            <h4> E-COM </h4>
            <p>E-COM is an online platform where user can browse, <br> purchase and sell a tech product like  <br>smart phones & laptops</p>
            {% comment %} <img src="https://i.postimg.cc/Nj9dgJ98/cards.png" alt="cards"> {% endcomment %}
        </div>
        <div class="content_2">
            <h4>SHOPPING</h4>
            <a href="/">E-COM</a>
            <a href="#sellers">Trending Items</a>
            <a href="#sellers">20% off Sales</a>
        </div>
        <div class="content_3">
            <h4>Contact Us</h4>
            <a href="#">hamzacse@student.iul.ac.in</a>
            <a href="#">noorulhaq@student.iul.ac.in</a>
            <a href="#">adim@student.iul.ac.in</a>
        </div>
        <div class="content_4">
            <h4>SOURCE CODE</h4>
                <span class="github">
                  <a href="https://github.com/Mohd-Hamza-Khan/Ecom/tree/main">E-Commerce</a>
                </span>
            <hr>
        </div>
    </div>
    <div class="f-design">
        <div class="f-design-txt container">
            <p>Design and Code </p>
        </div>
    </div>
</footer>