<main class="container">
    <link rel="stylesheet" href="static/css/page.css">
 
    <!-- Left Column / Laptop Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="/static/img/laptop1.jpg" alt="">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Laptop</span>
        <h2>HP Laptop 15s, 12th Gen Intel Core i3, 15.6-inch (39.6 cm), 8GB DDR4, 512GB SSD, Thin & Light, Dual Speakers (Win 11, MSO 2021, Silver, 1.69 kg), fq5007TU / FQ5327TU</h2>
        <p>
        Brand	HP
Model Name	15s-fq5007TU/FQ5327TU
Screen Size	39.6 Centimetres
Colour	Natural Silver
Hard Disk Size	512 GB
CPU Model	Core i3
RAM Memory Installed Size	8 GB
Operating System	Windows 11 Home
Special Feature	FHD, Backlit Keyboard, Micro-Edge Display, Anti-Glare
Graphics Card Description	Integrated</p>
      </div>
   
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>443$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>