<main class="container">
    <link rel="stylesheet" href="/static/css/page.css">
    <!-- Left Column / phones Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="/static/img/iphone-card-40-iphone15hero-202309_FMT_WHH-removebg-preview.png" style="height:150%;width:70%;">
    </div>

    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Mobile</span>
        <h2>Apple iPhone 15 Plus (256 GB) - Pink</h2>
        <p>
            Brand	Apple
            Model Name	iPhone 15 Plus
            Network Service Provider	Unlocked for All Carriers
            Operating System	iOS
            Cellular Technology	5G</p>
      </div>
   
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>983.23$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>