<main class="container">
    <link rel="stylesheet" href="/static/css/page.css">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="/static/img/macbook-37.png" alt="">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Laptop</span>
        <h2>Apple 2023 MacBook Pro (14-inch, M3 Max chip with 14‑core CPU and 30‑core GPU, 36GB Unified Memory, 1TB) - Space Black</h2>
        <p>
            Brand	Apple
            Model Name	MacBook Pro
            Screen Size	14 Inches
            Colour	Space Black
            Hard Disk Size	1 TB
            CPU Model	Apple M2 Ultra
            RAM Memory Installed Size	36 GB
            Operating System	Mac OS
            Special Feature	Backlit Keyboard
            Graphics Card Description	Integrated</p>
      </div>
   
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>4,796.24$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>