<main class="container">
    <link rel="stylesheet" href="/static/css/page.css">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="/static/img/05-real-strix-17-g-l-1654071388-removebg-preview.png" alt="">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Laptop</span>
        <h2>Asus ROG</h2>
        <p>ASUS ROG Strix G15, AMD Ryzen 7 6800H, 15.6" (39.62 cm) FHD 144Hz, 4GB RTX 3050 Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Gray/2.1 kg), G513RC-HN083W</p>
      </div>
   
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>1,079.15$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>