<main class="container">
    <link rel="stylesheet" href="/static/css/page.css">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="/static/img/phone6.png" >
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Mobile</span>
        <h2>ROG PHONE 7 ULTIMATE
            ONE WEAPON TO RULE THEM ALL</h2>
        <p>The ROG Phone 7 Ultimate packs the game-winning power of the latest Snapdragon® 8 Gen 2 Mobile Platform with ray-tracing hardware acceleration into an all-new futuristic two-tone design, along with the unique ROG Vision matrix display. An upgraded GameCool 7 thermal design — featuring the innovative AeroActive Portal — keeps everything super-cool even when you’re maxing out the performance, and the AeroActive Cooler 7 doubles up as a subwoofer to give you a portable 2.1 sound system. We’ve also doubled the brightness of the 165 Hz Samsung AMOLED screen for better outdoor use, and you can still enjoy all your favorite features such as the unique AirTrigger controls and monster 6000 mAh¹ battery</p>
      </div>
   
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>1,199.06$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>