<main class="container">
    <link rel="stylesheet" href="/static/css/page.css">
    <!-- Left Column / Headphones Image -->
    <div class="left-column">
      <img data-image="red" class="active" src="/static/img/Samsung-A14-5G-Mobile-Phone-493664920-i-1-1200Wx1200H-300Wx300H-removebg-preview.png" style="height:100%;width:70%;">
    </div>
   
   
    <!-- Right Column -->
    <div class="right-column">
   
      <!-- Product Description -->
      <div class="product-description">
        <span>Mobile</span>
        <h2>Samsung Galaxy M15 5G (Blue Topaz,4GB RAM,128GB Storage)| 50MP Triple Cam| 6000mAh Battery| MediaTek Dimensity 6100+ | Super AMOLED Display| Add to Cart and Get Travel Adapter at No Cost</h1>
        <p>
            Brand	Samsung
            Model Name	Samsung Galaxy M15 5G
            Network Service Provider	Unlocked for All Carriers
            Operating System	Android 14.0
            Cellular Technology	5G</p>
      </div>
   
   
      <!-- Product Pricing -->
      <div class="product-price">
        <span>107.92$</span>
        <a href="#" class="cart-btn">Add to cart</a>
      </div>
    </div>
  </main>